<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">

    <!-- LOGO -->
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}" style="display: flex; align-items: center; gap: 15px;">
      <img src="{{ '/assets/img/gem5ColorLong.gif' | prepend: site.baseurl }}" alt="gem5" height=55px>
      <div style="display: flex; flex-direction: column;">
        <span style="font-size: 24px; font-weight: bold; line-height: 1.2;">非官方中文网站</span>
        <span style="font-size: 12px; color: #666; line-height: 1.2;">每周与官网保持同步更新</span>
      </div>
    </a>

    <!-- When the screen size is small, display a hamburger icon instead of the navbar. -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | prepend: site.baseurl }}">
            首页
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page.parent == 'about' %}active{% endif %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            关于
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{ '/about' | prepend: site.baseurl }}">关于 gem5</a></li>
            <li><a class="dropdown-item" href="{{ '/publications' | prepend: site.baseurl }}">发表刊物</a></li>
            <li><a class="dropdown-item" href="{{ '/governance' | prepend: site.baseurl }}">项目治理</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page.layout == 'documentation' %}active{% endif %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            文档
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- Pull navigation from _data/documentation.yml -->
            {% for item in site.data.documentation.docs %}
              <li><a class="dropdown-item" href="{{ item.items[0].url | prepend: site.baseurl }}">{{ item.menu_title | default: item.title }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page.title == 'Events' or page.title == 'Developer Meetings' %}active{% endif %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            社区
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{ '/events' | prepend: site.baseurl }}">活动</a></li>
            <li><a class="dropdown-item" href="{{ '/dev_meetings' | prepend: site.baseurl }}">开发者会议</a></li>
          </ul>
        </li>

        <li class="nav-item ">
          <a class="nav-link {% if page.title == 'A guide to contributing' %}active{% endif %}" href="{{ '/contributing' | prepend: site.baseurl }}">
            贡献指南
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if page.url == '/blog/' %}active{% endif %}" href="{{ '/blog' | prepend: site.baseurl }}">
            博客
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if page.title == 'Search' %}active{% endif %}" href="{{ '/search' | prepend: site.baseurl }}">
            搜索
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>